:root {
    --primary-color: #4b0082;
    --secondary-color: #ba55d3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    color: var(--secondary-color);
    text-decoration: none;
}

/* Start Screen */

.start-screen {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
}

.start-screen p {
    padding: 10px;
}

.start-button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.start-button:hover {
    background-color: var(--secondary-color);
}

/* Question Screen */

.question-screen {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
}

/* Answer Buttons */

.answer-buttons button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.answer-buttons button:hover {
    background-color: var(--secondary-color);
}

.answer-return {
    font-style: italic;
    color: lightgray;
}

/* Final Score */

.submission {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
}

.submission p {
    margin-top: 5px;
}

#final-score {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--secondary-color);
    font-style: bold;
}

.submission button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.submission button:hover {
    background-color: var(--secondary-color);
}

/* High Score Screen */

.high-score {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 10%;
}   

.high-score button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 5px;
}

.high-score button:hover {
    background-color: var(--secondary-color);
}